# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
env/
venv/
ENV/

# Django
*.log
db.sqlite3
/staticfiles/
media/
media_root/

# VSCode
.vscode/

# Mac/Windows
.DS_Store
Thumbs.db

# pyenv
.python-version
