{% load static %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    
    <!-- Sidebar Toggle -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    
    <!-- User Info -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow">
            {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" 
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        {% if user.first_name %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                        {% if user.perfilusuario.rol %}
                            <span class="badge badge-info ml-1">
                                {{ user.perfilusuario.rol.nombre }}
                            </span>
                        {% endif %}
                    </span>
                    <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                </a>
                <!-- Dropdown Menu -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Perfil
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cerrar Sesión
                    </a>
                </div>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Iniciar Sesión</span>
                    <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                </a>
            {% endif %}
        </li>
    </ul>
</nav>
