{% load static %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="{% url 'login' %}" id="userDropdown">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Login</span>
                <img class="img-profile rounded-circle" 
                     src="{% static 'img/undraw_profile.svg' %}">
            </a>
        </li>
    </ul>

</nav>
