{% extends 'base.html' %}

{% block title %}Crear Tipo de Recurso{% endblock %}

{% block content %}
<h1 class="h3 mb-4 text-gray-800">Crear Tipo de Recurso</h1>

<div class="card shadow">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">
                <i class="fas fa-save"></i> Guardar
            </button>
            <a href="{% url 'listar_tipos' %}" class="btn btn-secondary">Volver</a>
        </form>
    </div>
</div>
{% endblock %}
