{% extends 'base.html' %}
{% block title %}Editar Recurso{% endblock %}

{% block content %}
<h1 class="h3 mb-4 text-gray-800">Editar Recurso</h1>

<div class="card shadow">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-primary" type="submit"><i class="fas fa-edit"></i> Actualizar</button>
            <a href="{% url 'listar_recursos' %}" class="btn btn-secondary">Volver</a>
        </form>
    </div>
</div>
{% endblock %}
